* {
    box-sizing: border-box;
    font-family: cursive;
}

.column {
    float: left;
    width: 33.33%;
    padding: 5px;
}

.row::after {
    content: "";
    clear: both;
    display: table;
}

body {
    margin: 0px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: right;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 30px 34px;
    text-decoration: none;
    font-size: 20px;
}

li a:hover:not(.active) {
    background-color: #111;
}

li .active {
    background-color: crimson;
}

img {
    width: 100%;
}

div h2 {
    color: crimson;
    text-align: center;
    width: 100%;
    float: right;
    padding: 20px;
    font-size: xx-large;
}

.container_12 {
    position: relative;
    width: 1100px;
    margin: 0 auto;
    padding: 0;
}

.container_12:after {
    content: "\0020";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

.container_12 .grid_12 {
    width: 1090px;
    float: left;
    display: inline;
    margin-left: 10px;
    margin-right: 10px;
    outline: 0;
    vertical-align: top;
}

.hor {
    padding-top: 43px;
    border-bottom: 1px solid #d9d9d9;
}

.container {
    padding: 20px;
    background-color: #f1f1f1;
}

input[type=text],
input[type=email],
input[type=submit],
textarea {
    padding: 12px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    resize: vertical;
    width: 100%;
}

section {
    display: grid;
    width: 50%;
    margin: 0 auto;
}

input[type=submit] {
    background-color: crimson;
    color: white;
    border: none;
}

input[type=submit]:hover {
    opacity: 0.8;
}

form {
    padding-bottom: 50px;
}

.fcolumn {
    margin-left: 20%;
    width: 60%;
}

footer {
    text-align: center;
    font-size: 20px;
    padding: 3px;
    background-color: #333;
    color: white;
}

h2 p {
    width: 20%;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 300px;
    margin: auto;
    text-align: center;
    font-family: arial;
}

.price {
    color: grey;
    font-size: 22px;
}

.card button {
    border: none;
    outline: 0;
    padding: 12px;
    color: white;
    background-color: crimson;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
}

.card button:hover {
    opacity: 0.7;
}

.justify {
    margin: 0px 150px;
    text-align: justify;
}